:root {
    --color-base-font: #212529;
    --color-background: #fcfcfc;
    --color-brand: #2c7be2;
    --color-grey: #828282;
    --color-grey-light: #bdbdbd;
    --color-grey-dark: #4d4d4d;
    --color-important-font: rgb(236, 0, 140);
    --color-important-background: rgb(251, 230, 239);
}