.header {
    margin-top: var(--spacing-unit);
    margin-bottom: var(--spacing-unit);
    z-index: 1024;
    top: 0;
    position: sticky;
    border-top: unset;
    min-height: 56px;
    display: block;
}

.header-block {
    height: 64px;
    background: white;
}

.site-title {
    margin-bottom: 0;
    margin-left: 10px;
    float: left;
}

.site-logo img {
    margin-top: 12px;
    margin-bottom: 0;
    margin-left: 10px;
    height: 36px;
    float: left;
}

.site-nav {
    float: right;
    line-height: 60px;
    top: 3px;
    right: 25px;
    z-index: 1;
    text-align: right;
}

.site-nav .page-link,
.extern-link,
.page-link-active {
    margin-left: 20px;
    display: inline-block;
}

.site-nav .img-button-title {
    display: inline-block;
}

.img-extern-link {
    margin-top: -4px;
    vertical-align: middle;
    border-style: none;
}

@media only screen and (max-width: 1000px) {

    .site-nav {
        position: absolute;
    }

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        padding-top: 15px;
        text-align: center;
        border-style: none;
    }

    .svg {
        width: 36px;
    }

    .img-button-title {
        display: inline-block;
    }

    .trigger {
        clear: both;
        display: none;
        width: 200px;
        padding: 10px 0px 10px 0px;
        background-color: white;
        border: 1px solid var(--color-grey-light);
        border-radius: .25rem;
        line-height: 2;
    }

    .menu-icon:hover+.trigger {
        display: block;
    }

    .trigger:hover {
        display: block;
    }

    .page-link,
    .page-link-active,
    .extern-link {
        display: inline-block;
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 1000px) {
    .site-nav .menu-icon {
        display: none;
    }

    .site-nav .img-button-title {
        display: none;
    }
}